{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <title>Mountain Ranch Labs {% block title %}{% endblock %}</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesome/css/all.min.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class='navbar-brand' href="{% url 'home' %}">
            <img src="{% static 'images/azure-icon.svg' %}" alt="" width="30" height="24" class="d-inline-block align-text-top">
            Mountain Ranch Labs
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                 {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'experiential:frames_list' %}">Experiential</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'accounts:profile' %}">Profile</a></li>
                <li class="nav-item">
                    <form action="{% url 'accounts:logout' %}" method="post" class="form-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-link nav-link">Logout</button>
                    </form>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'experiential:frames_list' %}">Experiential</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'restaurant_review:index' %}">Restaurant Review</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}">Log In</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'accounts:signup' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

      <main class="container">
        {% block content %}{% endblock %}
      </main>
      <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>
